.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
html{
background-color: lightgoldenrodyellow;
}
button{
  margin: 0.9rem;
  padding: 1rem;
  border-radius: 0.7rem;
  border: 2px solid black;
  cursor: pointer;
  font-size:medium;
  box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 25), -4px -4px 4px 0 rgba(255, 255, 255, 0.3);
  
}
.centerdiv{
  margin: auto; 
  width: 50%;
  width: 80%;
  
}
.container{
border: 1px solid black;
border-radius: 0.5rem;
padding: 0.5rem 1.5rem;
margin: 3rem 2rem;
text-align: center;
box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 25), -4px -4px 8px 0 rgba(255, 255, 255, 0.3);
}
.heading{
font-size: 1.5rem;
}
.info{
font-size: large;
}
hr{
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
}